name: Deploy Hugo site to Pages

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false  # Modules, not submodules
          lfs: true  # Large travel images

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.155.3'
          extended: true

      - name: Install LFS
        run: git lfs install

      - name: Clean
        run: rm -rf go.sum resources/ themes/


      - name: Update modules
        run: hugo mod get -u

      - name: Build
        run: hugo --minify --gc --baseURL https://topgenorth.github.io/

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
